[2017-05-26 15:26] vfarcic opened #1 "Update to Prometheus 2.x."

[2017-06-15 08:31] joskfg opened #2 "Allow sub-value options in GLOBAL configurations"
Currently (v0.32), df-monitor allow you to define environment variables that create the prometheus.yml. The variables should be names like `GLOBAL_SCRAPE_INTERVAL=10s` and they are transformed to:
[code]

The issue is about sub values inside global, for example:
[code]

This is not possible to reproduce because `GLOBAL_LABELS_CLUSTER=swam` creates:
[code]
instead of the expected.

A possible solut

[2017-06-20 15:27] #2 closed

[2017-06-20 15:46] vfarcic commented on #2
It's implemented in the [release 0.38](https://github.com/vfarcic/docker-flow-monitor/releases/tag/0.38). Can you please try it out and let me know if it works as expected.

[2017-08-07 14:25] corvus-ch opened #4 "Additional manual scrape configs"
I have setup a swarm cluster with docker flow monitor for monitoring. All is working fine so far. No I have the use case where I have to define some scrape configs manually.

Why do I need to write this scrape config manually? I am using blackbox_exporter for probing some external service (outside of my control) and for that I need a bunch of relabel statements.

As far as I can see, this is not s

[2017-08-07 16:08] vfarcic commented on #4
PR #3 will add the feature you need. @albertogviana is working on it. It should be available soon.

[2017-08-07 16:55] corvus-ch commented on #4
Thanks for the fast reply.

The solution in PR #3 will solve my problem only partially as it does not address my need for relabelling. Please have a look at the following Prometheus config snipped.

[code]

[2017-08-07 17:16] vfarcic commented on #4
@corvus-ch You're right. That PR focuses on a specific use case. We should make it more generic instead and allow any scrape config parameter.

One solution could be similar to [global-variables](http://monitor.dockerflow.com/config/#global-variables). We could say that any env. var. prefixed with `SCRAPE_` should be converted into a scrape config entry. Those variables would need to be suffixed w

[2017-08-07 17:23] corvus-ch commented on #4
I agree, following the example of the global variables will most probably end up in a mess. Embedding files is actually what I have searched for. If this would be possible, they could be added as docker config  and or secret. For that reason I suggest to allow to add any number of files.

[2017-08-07 19:10] vfarcic commented on #4
It's available as the [release 17.08.07-6](https://github.com/vfarcic/docker-flow-monitor/releases/tag/17.08.07-6). Can you please try it out and let me know whether it works as expected?

[2017-08-08 11:46] corvus-ch commented on #4
Thanks that worked as expected.

Is it by intention that only secrets are supported. There is also the concept of configs (https://docs.docker.com/engine/swarm/configs/). Technically they work (more or less) the same and I can easily use secrets. Semantically I would prefer to use configs though.

[2017-08-08 15:51] #4 closed

[2017-08-08 15:55] vfarcic commented on #4
Scrape snippets can now be loaded from any directory. It is available from the [release 17.08.08-9](https://github.com/vfarcic/docker-flow-monitor/releases/tag/17.08.08-9). Please let me know if you have any other suggestion how we can improve this or any other aspect of the project.

[2017-08-09 08:42] corvus-ch commented on #4
Thanks a lot. That worked nice and smooth.

I really appreciate how fast issues are taken care of.

[2017-08-31 00:43] thomasjpfan opened #5 "Idea for scaling a service without Jenkins"
While reviewing the source code for https://github.com/alexellis/faas, I saw they created a custom webhook: https://github.com/alexellis/faas/blob/master/gateway/handlers/alerthandler.go to scale a docker service. They have an alertmanager configured to signal the webhook when the service needs to be scaled up: https://github.com/alexellis/faas/blob/master/prometheus/alertmanager.yml.

Incorporati

[2017-09-01 02:51] vfarcic commented on #5
My plan is to build a service that would do the scaling and connect it to AM in a similar way as the one you described. The only problem is time. There's never enough of it. So, I started with Jenkins since it allows a fast and easy way to script everything. Once I have all the use-cases clear (e.g. scaling services, scaling nodes, and so on) I'd start converting Jenkins pipelines to a service. Wo

[2017-09-04 16:29] thomasjpfan commented on #5
I'll set up a separate repo as a proof of concept that scales services using your url scheme `http://scaler?service=go-demo_main&scale=1'`. I'm in the process of incorporating vendoring through https://github.com/golang/dep and a CI system through travis.

[2017-09-04 19:42] vfarcic commented on #5
That sounds great! Please post a link to the repo.

[2017-09-07 09:32] Blaiserman opened #6 "Source prometheus.yml"
Hi
Where can I find your prometheus.yml or how can I add rule_files to your prometheus??
THX

[2017-09-07 10:07] vfarcic commented on #6
The idea behind the project is to configure Prometheus with each service deployed to a cluster, as an alternative to defining static config. Rules are created through labels described in http://monitor.dockerflow.com/usage/#alert-parameters. I'd suggest going through the [Running Docker Flow Monitor](http://monitor.dockerflow.com/tutorial/) and [Auto-Scaling Docker Swarm Services Using Instrumente

[2017-09-14 17:55] vicjeancar opened #7 "Problem with "Additional scrapes""
there is a problem to start a container when  i try to load a secret with the configuration inside i am using this context
[code]

in a file named "scrape_mongodb"

[2017-09-14 19:19] vfarcic commented on #7
Please take a look at the commands and screen outputs that follow.

[code]

[screen output]
[code]

[code]

[screen output]
[code]

[code]

Everything seems to be working OK. Can you please post the commands you used?

[2017-09-14 19:51] vicjeancar commented on #7
i want to use the secrets in a docker-compose file, can you send me and example of the docker compose and the scrape file has is going to be, i mean the context, i am doing this in a aws cloudformation stack swarm, i am using the context in a file already load in my secrets in the ucp

[2017-09-14 19:58] vfarcic commented on #7
If you already have the secret created, you need to add to you compose file something like:

[code]

[2017-09-14 20:34] vicjeancar commented on #7
yes i found my issue i was declaring
- source: scrqape_mongodb

[2017-09-15 08:14] vfarcic commented on #7
Great to hear that you managed to resolve the problem. I'll close the issue...

[2017-09-15 08:14] #7 closed

[2017-09-15 21:38] thomasjpfan commented on #5
The repo is at https://github.com/thomasjpfan/docker-scaler.

I changed the url scheme a little. To scale up a service, the POST request would go to `http://scaler?service=go-demo_main&delta=1`. Similarly to scale down a service: `http://scaler?service=go-demo_main&delta=-1`.

[2017-09-15 22:11] vfarcic commented on #5
I went through the code and it looks great. I'll try it out during the weekend or Monday and get back to you with any comments I might have. A few notes until then...

Would you like to publish it in http://dockerflow.com? We can create a new subdomain like scaler.dockerflow.com and host the docs on the cluster I have for the projects. If that sounds OK, I'd need mkdocs files.

Would it be OK if I

[2017-09-16 16:54] thomasjpfan commented on #5
1. I'll put in the mkdocs files for the subdomain.
2. I'm okay with it being added to DevOps 2.2 Toolkit.
3. AWS scaling seems good. I think it should to be careful with scaling **down** manager nodes, maybe even restrict scaling to just worker nodes and scaling **up** manager nodes.

[2017-09-23 09:43] vfarcic commented on #6
Closing this issue since it became inactive. Please reopen it if you'd like to continue the conversation.

[2017-09-23 09:43] #6 closed

[2017-09-27 15:59] carl-utter commented on #5
@thomasjpfan

Thank you very much for your DevOps 2.2 Toolkit contribution... your concept is definitely a good and valued one. We have a multi-cluster Production Swarm(s) running on AWS EC2 instances and our Platform was developed using Viktor's DevOps 2.1 Toolkit as a primer. As such, we are consuming/implementing everything we can that comes out of Viktor's DevOps 2.2 Toolkit, which is how I ca

[2017-09-27 18:15] thomasjpfan commented on #5
Defining thresholds for both manager and worker nodes would be the most flexible solution. I will accommodate these configuration options into my concept.

[2017-09-29 19:50] vicjeancar opened #8 "additional configurations"
i want to use this 2 configurations in your image

remote_write:
    - url: "http://prometheus_postgresql_adapter:9201/write"
remote_read:
    - url: "http://prometheus_postgresql_adapter:9201/read"
how can i do it by environment flags in a compose file

[2017-09-30 20:40] vfarcic commented on #8
Can you please let me know which exporter you're using? Is it https://github.com/wrouesnel/postgres_exporter?

[2017-10-04 13:29] podloucky-init opened #9 "Specifying command-line argument with ARG_ fails for values containing "=""
Hi there,

Took a look at docker-flow-monitor recently and ran into the following problem:
If a value contains an "=" the command-line argument is truncated.
Example:
`ARG_LOG_FORMAT="logger:stdout?json=true"`
results in:
`-log.format="logger:stdout?json`

Clearly, the issue originates in `prometheus/util.go:getArgFromEnv()`: Environment variables in the form `NAME=VALUE` are split at "=" and only

[2017-10-04 21:50] #9 closed

[2017-10-04 22:02] vfarcic commented on #9
It's fixed in the release `17.10.04-19`. Can you please try it out and let me know if it works as expected?

[2017-10-05 15:39] podloucky-init commented on #9
Works perfectly! Thanks for the quick fix, this is much appreciated.

[2017-10-05 17:43] vfarcic commented on #5
I'm sorry I could not go through your latest changes. This week is busier than usual. I'll do my best to go through it early next week.

[2017-10-07 22:47] vfarcic commented on #8
It's available from the [release 17.10.03-18](https://github.com/vfarcic/docker-flow-monitor/releases/tag/17.10.03-18).

[2017-10-07 22:47] #8 closed

[2017-10-18 09:12] bvis opened #10 "[FEATURE REQUEST] Use File based service discovery instead of DNS based for flexibility"
## Current Situation

Currently DFSL + DFM use the DNS based service discovery. AFAIK DFSL just checks changes in services in the docker API and sends each change to DFM.

This approach is simple and effective but comes with some limitations:

- We don't have any way to add the node information where each task is running, as Docker is not providing this info ATM.
- We cannot add arbitrary labels t

[2017-10-18 11:14] vfarcic commented on #10
That can be done. I can start working on this feature next week (after DockerCon).

[2017-10-30 12:07] pgodot01 opened #12 "servicePath is not well manage"
Thanks for this stack.

I tried to configure demo micro service with following configuration in my docker stack:

    deploy:
      labels:
        - com.df.notify=true
        - com.df.distribute=true
        - com.df.servicePath=/demo
        - com.df.port=8080

In my swarm-listener logs, I got:
monitor_swarm-listener.1.yykqznc875td@manager    | 2017/10/30 12:00:18 Sending service created notifi

[2017-10-30 12:23] pgodot01 commented on #12
Does go_demo expose metrics on /demo URI or on /metrics ?

[2017-10-30 13:34] vfarcic commented on #12
It exposes them on `/metrics` (https://github.com/vfarcic/go-demo/blob/master/main.go#L73).

[2017-10-30 13:42] pgodot01 commented on #12
Is it possible to configure the metrics_path of prometheus scrap in the monitored container? My application is exposing its metrics at /prometheus.

[2017-10-30 15:05] vfarcic commented on #12
It's added in the [release 17.10.30-22](https://github.com/vfarcic/docker-flow-monitor/releases/tag/17.10.30-22). Can you please try it out and let me know whether it works as expected?

[2017-10-30 17:10] pgodot01 commented on #12
Yes with pleasure. I checked your commit. It seems what I need. Have you implemented a verb version in your api to check if my docker image is up to date?

[2017-10-30 17:16] pgodot01 commented on #12
Well done it's working like a charm.

[2017-11-08 01:58] prageethw opened #15 "marshal errors in logs, unable to load config file"
**steps to reproduce:**

1. check out the code https://github.com/vfarcic/docker-flow-monitor.
2. uncomment below section in stacks/docker-flow-monitor-proxy.yml
----
 #- com.df.serviceName=monitor
 #- com.df.scrapeType=static_configs
 #- com.df.scrapePort=9090
----
3. run the ./scripts/dm-swarm-04.sh
4. determine monitor container id and get the log.
5. try to access  dfm using open "http://$(doc

[2017-11-11 17:01] vfarcic commented on #15
This should be fixed with the PR #14. Can you please give it another round of testing to confirm that the merge was successful? The image is `vfarcic/docker-flow-monitor:17.11.11-25`.

[2017-11-12 11:48] prageethw commented on #15
nope container fails  when I uncomment

below
#- com.df.serviceName=monitor
#- com.df.scrapeType=static_configs
#- com.df.scrapePort=9090

logs:
2017/11/12 11:46:13 Requesting services from Docker Flow Swarm Listener
2017/11/12 11:46:13 Processing: [{"distribute":"true","port":"9090","replicas":"1","scrapePort":"9090","scrapeType":"static_configs","serviceDomain":"192.168.99.100","serviceName":"mo

[2017-11-14 09:07] prageethw commented on #15
please close this issue...

[2017-11-14 12:28] zarbis opened #17 "Use double underscore inv ENV config override"
There is ambiguity in current ENV naming rules such as: `GLOBAL_SCRAPE_INTERVAL=10s`
Can be treated as:
[code]
as well as:
[code]

To avoid ambiguity and complexity of parsing next nesting level should be indicated with double underscore where single underscore should be treated literally.
With such rule there is no ambiguity in `GLOBAL__SCRAPE_INTERVAL=10s` or `GLOBAL__EXTERNAL_LABELS__LABEL_TYPE

[2017-11-14 14:29] #15 closed

[2017-11-14 14:33] vfarcic commented on #17
Wanna give it a try with a PR?

[2017-12-23 20:37] thomasjpfan commented on #17
I want to flesh this idea out before implementing it.

[code]

Should the ENV config be the following?
[code]

[2017-12-23 20:56] vfarcic commented on #17
That sounds like a good format. I'd say "go for it".

The problem is the same as with the move to Prom 2.0. We need to maintain compatibility. I'd often put comments like `// TODO: Deprecated since yyyy-mm-dd`. That way we can remove compatibility workarounds after a while.

[2017-12-23 23:14] vfarcic commented on #5
Closing the issue with a reference to the [thomasjpfan/docker-scaler](https://github.com/thomasjpfan/docker-scaler).

[2017-12-23 23:14] #5 closed

[2017-12-28 13:09] dave08 opened #24 "Include `job` filter for node resource checks"
If we have multiple node exporter services limited say to only workers or managers, the @node_[...] checks should be limited to that node exporter service's job like this:
[code]

[2017-12-29 11:34] vfarcic commented on #24
@dave08 Can you please let me know the shortcut behind this expression? The closest I could find is `@node_mem_limit`. However, it is not the same. It expands to:

[code]

Is that the one you're using?

[2017-12-29 13:56] dave08 commented on #24
Yes, I just gave an example of how I think it might look after the change, am I right? Also, this could apply to all yhe node related shortcuts like fs.. I just haven't (luckily) reached 80% disk usage yet...

[2017-12-29 14:19] #24 closed

[2017-12-29 14:22] vfarcic commented on #24
The reason I asked for the shortcut is because none expands to the expression you used. You're probably using the older Prometheus 1.x based DFM.

Anyways, most of the shortcuts had `job` baked in, except two. Now that's corrected and all are having `job` (or an equivalent). You can see the current list of shortcuts through https://github.com/vfarcic/docker-flow-monitor/blob/master/server/server.g

[2017-12-30 11:30] #17 closed

[2017-12-30 11:36] vfarcic commented on #17
It's available in the tag `vfarcic/docker-flow-monitor:2-17.12.30-42`.

[2018-01-08 14:07] redtex opened #26 "docker-flow-monitor-aws.yml not starts properly"
Stack https://raw.githubusercontent.com/vfarcic/docker-flow-monitor/master/stacks/docker-flow-monitor-aws.yml not starts properly. Namely monitor service, because of permission denied in /data directory - it has 755 root:root security settings, but docker-flow-monitor runs from 'nobody' user. To start stack properly I had to change:

[code]

[2018-01-09 21:05] #26 closed

[2018-01-09 21:07] vfarcic commented on #26
I forgot to update that file since switching to Prometheus 2. The changes you did are correct. I updated the repo's YAML file.

[2018-01-12 13:06] fgendc opened #27 "Image prom/alertmanager using new rule format"
Thanks for sharing, vfarcic!

Checked running docker-flow-monitor-slack-9093.yml that the latest image prom/alertmanager has changed the rule format according to [this post](https://prometheus.io/blog/2017/06/21/prometheus-20-alpha3-new-rule-format/) from using single dash (-config.file) to double dash (--config.file)

[2018-01-13 20:09] vfarcic commented on #27
Are you referring to `monitor` or `alert-manager` service from https://github.com/vfarcic/docker-flow-monitor/blob/master/stacks/docker-flow-monitor-slack-9093.yml ? Only the latter (`alert-manager`) uses `-config.file` and it's syntax didn't change (as far as I know).

I probably misunderstood the issue...

[2018-01-13 20:20] fgendc commented on #27
Sorry, it’s the command tag in alert-manager. Didn’t work with single dash while I was following devops 2.2, switched it to double dash and it did work

[2018-01-14 16:00] vfarcic commented on #27
You're right. Alertmanager arguments changed and I missed updating the stacks. They should be OK now. Can you please try it out and let me know whether it works as expected?

[2018-01-14 16:00] #27 closed

[2018-01-14 17:56] dave08 opened #28 "Optional Docker Secret for alert shortcuts"
Like as a YAML file. It should probably have some kind of naming convention (like cert-* in DFP).

[2018-01-14 19:17] vfarcic commented on #28
@dave08 I made the changes required for the basic functionality. However, I did not have time to test it properly. Can you give me a hand and do the following?

1. Update DFM to the tag `vfarcic/docker-flow-monitor:issue-28`.
2. Test that the old functionality works properly.
3. Replace `/etc/dfm/shortcuts.yaml` with Docker config or secret and confirm that it works.

If all three points work, we

[2018-01-14 19:46] dave08 commented on #28
Sure, I'll get to it tomorrow when I get to work, thanks!

[2018-01-15 17:43] fgendc commented on #27
Works like a charm now. Thanks man!

[2018-01-15 21:45] dave08 commented on #28
I tried updating today, but dfp just keeps on failing because of rexray problems... I guess I'll try again tomorrow... thanks again for all your efforts!

[2018-01-15 23:48] vfarcic commented on #28
We recently switched to Prometheus 2.x. The data needs to be migrated (or discarded). You can find the info in http://monitor.dockerflow.com/migration/ . Also, the user inside the container changed to `nobody` as well as the default data directory. Now it's `/prometheus`. You can see an updated example with the volume in https://github.com/vfarcic/docker-flow-monitor/blob/master/stacks/docker-flow

[2018-01-16 16:50] dave08 commented on #28
I was already at 2.x and I did the migration... Just RexRay that's not able to get the DO block storage volume back up... These are the times I wish I were using cloudstor...

[2018-01-16 17:53] dave08 commented on #28
Ok, it finally came up... and the configs seem fine, I just have to find the time in the next few days to test the rest. I'm afraid to do it now, since it took a while to get it working again with all the Rexray volume problems...

[2018-01-18 06:25] patrickleet commented on #1
@vfarcic this can be closed now?

[2018-01-18 15:21] vfarcic commented on #1
Yep :)

[2018-01-18 15:21] #1 closed

[2018-01-28 16:52] vfarcic commented on #28
Can we close this issue or the problem still persists?

[2018-02-01 03:43] dave08 commented on #28
My Prometheus is still down because of Rexray driver problems, next week we should be making decisions about that. If I could get Prometheus running normally, I could check out what happens when the file is replaced and get to the docs... This is really a nice feature since we'll need a bunch of custom shortcuts...

[2018-02-01 20:26] thomasjpfan commented on #10
One possible way to implement this feature:

1. Add node hostname and service ip discovery to DFSL here: https://github.com/vfarcic/docker-flow-swarm-listener/blob/master/service/util.go#L36 by using the docker go SDK: (https://godoc.org/github.com/moby/moby/client#Client.TaskInspectWithRaw and https://godoc.org/github.com/moby/moby/client#Client.NodeList). This would add the IPs and the correspon

[2018-02-02 10:56] vfarcic commented on #10
@thomasjpfan Is the idea for DFSL to send IPs to DFM? If that's the case, DFSL would need to re-send that info periodically since nodes/replicas might change with time.

[2018-02-02 15:14] thomasjpfan commented on #10
@vfarcic Looking at https://github.com/vfarcic/docker-flow-swarm-listener/blob/master/service/service.go#L131, DFSL checks for label and replica changes before sending out notifications. Maybe we can add the (IP, node-hostname) information into the cache and check if that changes as well?

[2018-02-02 16:46] vfarcic commented on #10
That's a very good idea @thomasjpfan. I'd just make sure that using IP and hostname info to determine whether to send notifications is optional and disabled by default since most services will not benefit from that. What do you think?

[2018-02-02 22:46] thomasjpfan commented on #10
That looks good. I will work on a PR for DFSL.

[2018-02-03 11:19] vfarcic commented on #28
You can make Prometheus run without volumes if you need only to check something.

[2018-02-04 22:06] thomasjpfan commented on #10
Consider this configuration snippet:

[code]

I want to add a `com.df.scrapeNetwork` label to the exporter. This way the swarm-listener knows which network to use when querying the IP of the exporter. In the example above, `com.df.scrapeNetwork=monitor`, thus DFSL will use the `monitor` network to gather node and ip info. What do you think?

[2018-02-05 04:52] vfarcic commented on #10
@thomasjpfan I think you need the name of the service (not the network) and retrieve the IPs with something like `net.LookupHost`.

[2018-02-05 13:50] thomasjpfan commented on #10
In my example above, since `cadvisor` is on two networks, it will have two IPs associated with each network. If `swarm-listener` and `monitor` were connected to the `flow` network, the `cadvisor` IP associated with the `flow` network must be passed on to the `monitor` service.

Since DFSL has access to the docker socket, `TaskList` already returns all the IPs needed. The return `swarm.Task` object

[2018-02-05 15:22] vfarcic commented on #10
You're right @thomasjpfan . I missed the case of two networks :)

[2018-02-09 02:21] ATLJLawrie opened #30 "Ability to define ScrapeInterval and ScrapeTimeout with labels"
Wasn't sure if this needed to go here or with the swarm-listener.

With the size of our cluster, using a global config of 30sec scrapes with 10 second timeouts,  cadvisor can't seem to keep up with Prometheus.   Even if we turn off all disable-able metrics via '-disable_metrics=tcp,udp,disk,network' the /metrics endpoint is about 2 MB.  If I change my global to 60 / 30 things seem ok but it would

[2018-02-09 02:31] vfarcic commented on #30
Did you check `GLOBAL__SCRAPE_INTERVAL` from http://monitor.dockerflow.com/config/? I think that might be what you're looking for.

[2018-02-09 02:37] #10 closed

[2018-02-09 03:34] ATLJLawrie commented on #30
Sorry for clarity.  That is what I have done for now to resolve the issue.  This was more to open an issue as a possible enhancement the individual target configs scrape interval and timeout could be set in the same manner with labels that port and endpoint are.

[2018-02-10 18:29] #30 closed

[2018-02-10 18:40] vfarcic commented on #30
It's done and available in the [release 18.02.10-50](https://github.com/vfarcic/docker-flow-monitor/releases/tag/18.02.10-50). Please try it out and let me know if it works as you expected.

[2018-02-17 20:27] #28 closed

[2018-02-17 20:33] vfarcic commented on #28
It's available in the [release 2-18.02.17-51](https://github.com/vfarcic/docker-flow-monitor/releases/tag/2-18.02.17-51).

[2018-02-18 03:32] dave08 commented on #28
Thanks alot! I'm sorry I didn't have a chance to test this further... I put up prometheus w/o a rexray volume, bit I was really swamped with work...

[2018-02-20 07:41] patrickleet opened #35 "scaling to 0 removes alert rules"
I am trying to get the benefits of serverless, with microservices by autoscaling based on queue length. When there are no messages in the queue, the service can be scaled down to 0.

I'm using @thomasjpfan's https://github.com/thomasjpfan/docker-scaler, though Jenkins job would be the same, and a rabbitmq prometheus exporter. This allows me to scale without instrumenting the service specifically.

[2018-02-20 08:06] patrickleet commented on #35
would it be possible to add a
[code]
label that would tell DFM to keep it even though the service was removed?

[2018-02-20 19:43] thomasjpfan commented on #35
It is possible to add the `com.df.alertPersistent` label to persistent alerts when services are scaled to zero. If @vfarcic thinks this is a good feature, I can work on a PR for this.

[2018-02-20 20:03] vfarcic commented on #35
I think it's a good feature :)

[2018-02-21 20:44] #35 closed

[2018-02-21 21:21] vfarcic commented on #35
It's available in the [release 18.02.21-52](https://github.com/vfarcic/docker-flow-monitor/releases/tag/18.02.21-52)

[2018-02-27 11:42] dsw9742 opened #38 "DFM config changes from file_sd_configs to dns_sd_configs"
Using the flexible labeling feature of DFM, we are experiencing an issue where DFM initially creates a Prometheus job using the `file_sd_configs` options for services, but then changes to using the `dns_sd_configs` options for services. This results in all flexible labels being dropped from the scraped data -- we are left with only `instance` and `job` target labels.

It seems that this change occ

[2018-03-01 02:02] dsw9742 commented on #38
I am continuing to investigate this issue on my end.

Digging deeper into our logs, it looks as though `dns_sd_config` is chosen for a service job if the `reconfigure` request to DFM from DFSL does not contain the `nodeInfo` parameter.

What is mystifying to me is why some of our services result in `reconfigure` requests containing `nodeInfo` and some do not, when the services use nearly identical

[2018-03-02 03:16] st3xupery opened #39 "Unable to activate alerts + must manually restart monitor to register new alerts"
My main problem is no matter how restrictive I set my mem limit I cannot get the alert to indicate active on the `/alerts` page in Prometheus. In the example below you will see I have set my service's mem_limit to 10% where at rest, the service in question uses at least 60% of it's available memory limit, and to be triggered with no timespan. Yet no long how I wait for the alert says `(0 active)`

[2018-03-02 09:28] vfarcic commented on #39
Can you execute `container_memory_usage_bytes` expression and send the output?

[2018-03-02 12:11] st3xupery commented on #39
When I execute
[code]
or
[code]
or
[code]
I get `no data` . Something about my deployment must be off.
<img width="1162" alt="screen shot 2018-03-02 at 7 10 31 am" src="https://user-images.githubusercontent.com/5591230/36898441-dd954430-1de8-11e8-9d4d-5ea20ce31c05.png">

[2018-03-02 12:15] st3xupery commented on #39
Here are some additional specs I can find

`prometheus --version`
[code]

`cat /etc/prometheus/prometheus.yml`
[code]

The content of `alert.rules` looks all in order also.

[2018-03-02 12:19] vfarcic commented on #39
The problem is in DFSL. It has only the proxy as the address in `DF_NOTIFY_CREATE_SERVICE_URL` and `DF_NOTIFY_REMOVE_SERVICE_URL`. You need to add (comma separated) the address of Prometheus as well (DFM). Otherwise, it will never receive a notification about exporters.

[2018-03-02 12:45] st3xupery commented on #39
OH! I do see what you are saying and have modified my environment variables accordingly.

[code]
What I had to failed to see was `proxy` was a reference to the `service` and not to the `overlay network`. Because of that confusion, I thought to place DFP, DFSL and DFM on the proxy network was sufficient and that `proxy` in the URL would talk to them all. I do know that's not how `overlay` networks

[2018-03-02 14:26] st3xupery commented on #39
I even went so far as to remove DFP from the equation but none of the queries e.g. `container_memory_usage_bytes` seem to produce any result in the Prometheus dashboard. Even an error would be more insightful to me.

[2018-03-02 21:35] dsw9742 commented on #38
I believe this is related to an Alpine issue. Prometheus uses Alpine/Busybox base. https://github.com/gliderlabs/docker-alpine/issues/313

[2018-03-04 20:26] vfarcic commented on #39
The problem is that you changed the name of the service to `monitor` but you left the rest of the address intact (`http://monitor:8080/v1/docker-flow-proxy/reconfigure`). The reconfigure address should be `http://monitor:8080/v1/docker-flow-monitor/reconfigure`. You can find an example in http://monitor.dockerflow.com/tutorial/ .

[2018-03-05 13:41] st3xupery commented on #39
Oh wow, I feel rather stupid. Well, I appreciate your patience with assisting me as this certainly resolves my issue. Much thanks again!

[2018-03-07 04:35] st3xupery commented on #39
I found some time to revisit this part of my project again hopeful resolving my URL mistake would be the key, but I still find myself with unresponsive alerts and queries that execute to `no data`

In the example below I keep `swarm-listener` on a `proxy` network and a `monitor` network with DFM sharing the `monitor` network. But I also tried putting them both on exclusively `proxy`. In both cases

[2018-03-10 21:11] thomasjpfan commented on #38
@dsw9742 Without the `nodeInfo` parameter, DFM will default to using `dns_sd_config`. DFSL uses dockers api with `com.df.scapeNetwork` to look up the addresses for a service. If DFSL is not picking up the address, it could mean the docker has no assigned an IP to the service yet. 🤔

Is `com.df.scrapeNetwork` set for each service and `DF_INCLUDE_IP_INFO` set to true in DFSL?

[2018-03-11 16:40] vfarcic commented on #39
Please send me the current config of your stacks and I'll try to replicate the problem inside one of my clusters.

P.S. Sorry for not responding earlier. I had too much work on my plate.

[2018-03-11 18:30] thomasjpfan commented on #38
I was able to reproduce this issue, docker needs a little time to assign a service an ip corresponding to a overlay network. If DFSL queries for the ip too quickly, it would not find the node information at that moment in time.

[2018-03-12 23:50] dsw9742 commented on #38
@thomasjpfan that makes total sense based on some of my observations -- several of the services that "flip" take a long time to start up.

I've continued to look into this on my end as well and I'm beginning to think I am dealing with multiple issues, but it would be great to be able to check off one of them!

[2018-03-13 15:26] thomasjpfan commented on #38
DFSL now waits for tasks to converge before sending out notifications. This feature is available starting from [release 18.03.13-35](https://github.com/vfarcic/docker-flow-swarm-listener/releases/tag/18.03.13-35).

[2018-03-13 17:55] ATLJLawrie commented on #30
Finally got a chance to test this on 18.02.21-52 and it's working great.

[2018-03-14 03:10] dsw9742 commented on #38
@thomasjpfan I've pulled the latest and am seeing if the updates improve our scenario.

[2018-03-14 13:42] dave08 opened #40 "How do flexible labels work?"
@thomasjpfan What do `com.df.env=prod` and `com.df.metricType=system` do? Are they just informational labels and can be replaced by whatever is needed, or are they required? If so, what does each do? Also, where can one retreive this info in Prometheus queries and alerts, is there an additional metric, is it added to all metrics sent from the exporter?

Also, I'm trying to decide if this can repla

[2018-03-14 15:01] thomasjpfan commented on #40
1. In the tutorial, I used them just as an example of labels. The are used in combination with environmental variable `DF_SCRAPE_TARGET_LABELS` in `monitor`:

[code]

This tells prometheus to translate `com.df.env` and `com.df.metricType` into labels for specific targets. By default the labels `node`, and `service` are included.

2. It's added to all metrics from the exporter. For example, if you

[2018-03-15 11:53] dsw9742 commented on #38
Some additional updates.

It seems we've stumbling across documented DNS issues with the combination of Virtualbox (used by us in dev environments), musl (used in Alpine), and AAAA records (used by DNS for IP6). Reference https://bugs.alpinelinux.org/issues/6221 and also http://www.openwall.com/lists/musl/2017/09/28/1. I encountered 5s timeouts with DNS very regularly during investigations, so if

[2018-03-15 13:36] thomasjpfan commented on #38
After the DNS issues are resolved, you can force DFSL to send out service notifications again to DFM by sending a GET request to DFSL: http://swarmlistener.dockerflow.com/usage/#notify-services. The endpoint is `/v1/docker-flow-swarm-listener/notify-services`.

[2018-03-15 20:47] dsw9742 opened #42 "Passing engine or node labels to Prometheus"
Service labels are useful but we have to use labels at the engine or node level to add metadata about environment and  infrastructure, e.g. cloud provider, region, availability zone, instance, etc., which is pretty useful information in monitoring data.

Is there a mechanism or technique by which we can pass engine or node labels to Prometheus with DFM?

[2018-03-16 03:23] dave08 commented on #42
I was also thinking the same thing! Currently what would have to be done is to split the service into many services and use placement contstraints together w/ flexible labeling, which is bit of a waste... but for what you're requesting DFSL would also have to send node and engine labels to DFM...?

[2018-03-16 18:27] redtex opened #43 "Alternative to AlertIf @service_mem_limit shortcut"
The `@service_mem_limit `shortcut uses as base an `container_memory_usage_bytes` metric, which includes application memory and linux page cache. Such metric good for those kind of applications, which has low disk activity, such as web services and so on... But in case of databases or file servers and other applications with moderate to high disk activity, this shortcut will always tend to 1, becau

[2018-03-16 20:51] dsw9742 commented on #42
@dave08 not sure I understand it all well enough to answer requirements though you could be right. I think I saw a recent update to Docker Swarm that enables use of engine labels with service environment variables templating -- I don't think templating works with labels but maybe the same technique

[2018-03-16 20:52] dsw9742 commented on #42
could be applied in DFM for this feature request?

[2018-03-16 21:02] dsw9742 commented on #42
Here's the SwarmKit pull request for the templating with engine labels feature I referenced https://github.com/docker/swarmkit/pull/2372.

[2018-03-16 21:22] dsw9742 commented on #38
Thanks @thomasjpfan, that sounds like a solid recovery mechanism. Assuming that there's not currently a way to set the required scrapeType data through targeted service labels then? I'm trying to think where I could inspect the requests that pass that parameter. ..

[2018-03-17 16:36] thomasjpfan commented on #38
DFSL does not pass the `scrapeType` parameter to DFM. DFSL passes the node and ip information of each target and sends it to DFM. If DFM sees this information, it will construct the `file_sd_config` needed for the targets. If DFM does not see the ip info, it defaults to `dns_sd_config`.

In your situation, there should be a service watching when the DNS issue is resolved, and send a `notify-servic

[2018-03-18 00:26] dsw9742 commented on #38
@thomasjpfan ah, OK, so DFM does not evaluate the `com.df.scrapeType` label if it receives a request containing node and ip information from DFSL?

[2018-03-18 00:35] dsw9742 commented on #42
It appears as though container labels contain a reference to the node ID (`Config.Labels` contains `com.docker.swarm.node.id`), which could in theory be used to retrieve both node (`Spec.Labels`) and engine (`Description.Engine.Labels`) labels and apply them to the file_sd when it is created or updated.

[2018-03-18 00:37] dsw9742 commented on #42
@thomasjpfan I think you might be the best person to ask about this scenario. If it isn't currently possible, but the idea has merit, I'd be happy to write up a formal feature request.

[2018-03-18 12:42] thomasjpfan commented on #38
That is correct.

[2018-03-18 13:01] thomasjpfan commented on #42
This is a good idea. DFSL would have to be updated to add additional label information.

[2018-03-18 15:29] vfarcic commented on #43
@redtex Can you make a PR with the new shortcut? You'd only need to change https://github.com/vfarcic/docker-flow-monitor/blob/master/conf/shortcuts.yaml, one more test entry to https://github.com/vfarcic/docker-flow-monitor/blob/master/server/server_test.go#L285, and modify docs in https://github.com/vfarcic/docker-flow-monitor/blob/master/docs/usage.md.

[2018-03-19 19:12] thomasjpfan commented on #42
I will work on this by taking advantage of the new node events API of DFSL.

[2018-03-23 13:37] thomasjpfan commented on #42
Till #44 is merged, you can try out this feature out by pulling `thomasjpfan/docker-flow-monitor:aeacdf59`. I have updated the flexible label tutorial here: https://github.com/thomasjpfan/docker-flow-monitor/blob/nodeID-rb/docs/tutorial-flexible-labeling.md.

The updated stack needed to run the tutorial is at [stacks/docker-flow-monitor-flexible-labels.yml](https://github.com/thomasjpfan/docker-fl

[2018-03-27 14:55] thomasjpfan commented on #42
This feature is implemented in DFM with tag `2-18.03.26-58` or later. For information on how to use this feature visit: http://monitor.dockerflow.com/tutorial-flexible-labeling/.

[2018-03-29 07:19] redtex commented on #43
@vfarcic Victor, thank you.

[2018-03-29 07:19] #43 closed

[2018-03-31 21:08] vfarcic commented on #38
Can we close this issue?

[2018-03-31 21:30] vfarcic commented on #39
Closing due to inactivity.

[2018-03-31 21:30] #39 closed

[2018-03-31 22:57] vfarcic commented on #42
Can we close this issue?

[2018-03-31 22:57] vfarcic commented on #40
Can we close this issue?

[2018-04-03 08:21] dsw9742 commented on #42
Looks good to go from my end. Great stuff, thanks guys!

[2018-04-03 08:21] #42 closed

[2018-04-03 08:22] dsw9742 commented on #38
Yes

[2018-04-03 08:22] #38 closed

[2018-04-15 21:02] #40 closed

[2018-05-15 14:44] dsw9742 opened #46 "feature request: support multiple alert manager services via ARG_ALERTMANAGER_URL env var"
According to [official Alertmanager documentation](https://prometheus.io/docs/alerting/alertmanager/),

DFM, at present, appears to only support a single URL for Alertmanager via the `ARG_ALERTMANAGER_URL` environment variable.

This is a feature request to support multiple Alertmanager URLs. There are several instances of DF services that support similar mechanisms, either with indexes or comma-s

[2018-05-16 02:56] thomasjpfan commented on #46
All the prometheus config options can be access through env variables. For example it is possible to get this prometheus configuration:

[code]

with the following environmental variables:

[code]

This can be quite verbose, so I extended `ARG_ALERTMANAGER_URL` to accept comma seperated urls. Thus `ARG_ALERTMANAGER_URL=http://alert-manager:9093,http://alert-manager2:9093` will result in the same y

[2018-05-16 10:42] dsw9742 commented on #46
@thomasjpfan will test this this morning

[2018-05-17 16:43] maevyn11 opened #49 "Alert definition not removed from prometheus"
I believe I'm seeing an issue where after removing the com.df.alert labels from a service and redeploying it, the alert was not removed correctly from Prometheus.

I actually made the same change in a staging environment and a production environment, and in staging the alert was removed, but in production the alert remains defined in prometheus. I suspect this may be due to the alert being in a fi

[2018-05-17 18:48] dsw9742 commented on #46
@thomasjpfan looks like this works, at least based on Prometheus configuration displayed in the UI. Will file a separate issue if problems turn up but I think this is good to go!

[2018-05-17 18:48] #46 closed

[2018-05-23 19:28] Munchery-DavidMichon opened #50 "Integration with blackbox-exporter"
Hi,

Any chance to have a usage example on how to configure labels to auto-configure [blackbox-exporter](https://github.com/prometheus/blackbox_exporter)?

Is it possible with http://monitor.dockerflow.com/usage/#scrape-parameters?

Thanks!

[2018-05-24 12:23] Munchery-DavidMichon opened #51 "add additional scrape from the CONFIG_DIRS"
I tried unsuccessfully to add additional scrape from the CONFIG_DIRS following this [documentation](http://monitor.dockerflow.com/config/#scrape-secret-configuration)

It seems that this method `InsertScrapesFromDir ` is never called.
https://github.com/vfarcic/docker-flow-monitor/blob/0a4cc1de4d15f3fbd06fbfd99d9b4eecf824dcaa/prometheus/config.go#L142

[2018-05-24 12:41] Munchery-DavidMichon commented on #50
redundant with https://github.com/vfarcic/docker-flow-monitor/issues/51

[2018-05-24 12:41] #50 closed

[2018-05-25 10:37] dsw9742 opened #52 "typo in 'replicas_more_than' shortcut"
<pre>
"@replicas_more_than":
  expanded: count(container_memory_usage_bytes{container_label_com_docker_swarm_service_name="{{ .Alert.ServiceName }}"}) > {{ .Alert.Replicas }}
  annotations:
    summary: The number of running replicas of the service {{ .Alert.ServiceName }} is more than {{ .Alert.Replicas }}
  labels:
    receiver: system
    service: "{{ .Alert.ServiceName }}"
    scale: <b>up</b>

[2018-05-26 17:31] #52 closed

[2018-05-26 17:36] vfarcic commented on #52
Fixed and available in `18.05.26-4`

[2018-05-27 11:17] vfarcic opened #53 "Move the repository to the docker-flow account"

[2018-05-27 11:25] vfarcic commented on #53
@thomasjpfan The project is now in the new repository.

[2018-05-27 11:25] #53 closed

[2018-05-28 11:46] nsalhab opened #54 "No Autoscaling when Memory threshold is reached"
Hi,
I am following the tutorial about Auto-scaling:
https://monitor.dockerflow.com/auto-scaling/

In order to make it easier to test the autoscaling when memory is NOT sufficient:

I reconfigured the service "go-demo_main" as follows:
- decreased the limits to 25% which is the easiest way forward,
- Changed the threshold for scaled it in down to 1 and scale up to 5
- Update the alertFor to 1minute

[2018-05-29 10:46] dsw9742 opened #55 "Support for rolling service updates"
Question: does DFM support updates to services with [rolling policies](https://docs.docker.com/engine/swarm/swarm-tutorial/rolling-update/) (e.g. `--update-delay`) applied? We're seeing some unexpected results in our environment but want to see if this is by-design before filing a new feature or bug request.

[2018-05-29 12:49] dsw9742 commented on #55
Possibly related to the following issues:
* in Docker Flow Swarm Listener:
  * https://github.com/docker-flow/docker-flow-swarm-listener/issues/5
  * https://github.com/docker-flow/docker-flow-swarm-listener/issues/9
* in Docker for Linux:
  * https://github.com/docker/for-linux/issues/101
* in Moby:
  * https://github.com/moby/moby/issues/36834

[2018-05-29 23:00] dsw9742 commented on #55
@thomasjpfan we've got a test swarm with six nodes in it and cadvisor deployed globally as a service. It is created with `--update-parallelism=1` and `--update-delay=5s \` after DFSL and before DFM. Looking at the Prometheus /targets path after DFM is running, everything looks perfect for cadvisor - six replicas, one per node, as expected. When we issue a `service update` command for cadvisor, the

[2018-05-29 23:45] dsw9742 commented on #55
@thomasjpfan confirming the issue is not isolated to cadvisor as we've just reproduced it with node exporter service as well.

[2018-05-29 23:57] thomasjpfan commented on #55
@dsw9742 Thanks for the information. I will look into this.

[2018-05-31 01:32] thomasjpfan commented on #55
When you are updating the global service, are you updating the image?

[2018-05-31 01:49] thomasjpfan commented on #54
@nsalhab  You are missing the `cadvisor` exporter. The `container_memory_usage_bytes` metric is provided by the cadvisor exporter. You can see how to run the exporter by consulting https://monitor.dockerflow.com/tutorial/#collecting-metrics-and-defining-alerts.

After skimming the https://monitor.dockerflow.com/auto-scaling/ tutorial, I can see how this fact can be missed.

[2018-05-31 01:53] dsw9742 commented on #55
Yes. Its a command to `docker service update --force --image [new image]`.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Thomas Fan <notifications@github.com>
Sent: Wednesday, May 30, 2018 9:32:18 PM
To: docker-flow/docker-flow-monitor
Cc: Doug Whitehead; Mention
Subject: Re: [docker-flow/docker-flow-monitor] Support for rolling service updates (#55)

When

[2018-05-31 02:04] thomasjpfan commented on #51
@Munchery-DavidMichon Thanks for bringing this up. I am looking into it.

[2018-05-31 02:33] thomasjpfan commented on #51
The `CONFIGS_DIR` feature is added in `dockerflow/docker-flow-monitor:2-18.05.31-4`.

[2018-05-31 03:03] thomasjpfan commented on #55
@dsw9742 I updated DFSL to address your issue. Please test out `dockerflow/docker-flow-swarm-listener:18.05.31-19` and see if it works for you.

[2018-05-31 09:44] dsw9742 commented on #55
@thomasjpfan thank you. Just tried this out. Good news and bad news.

Bad news is all the updated targets appear to be sd_dns_configs, where they were previously sd_file_configs -- that means they lose all their special DF labeling.

Good news is all the targets now appear in Prometheus after an update!

And it may be that I've misconfigured DFSL in my test. I've set both `DF_SERVICE_POLLING_INTER

[2018-05-31 10:30] dsw9742 commented on #55
OK, have tried the other two options as well. Here is what I've seen:
1. polling=0 and events=true : reverted to the previous scenario, whereupon `service update cadvisor --image [new image] --force` for the cadvisor deployed in `mode=global`, Prometheus goes from displaying one target for each node (so six in this setup) to only one target.
2. polling>0 and events=false : Prometheus picks up one

[2018-05-31 12:36] thomasjpfan commented on #55
Lets keep it here for now. This issue is using a feature in DFSL that is only used by DFM (`DF_INCLUDE_NODE_IP_INFO=true`).

1. Poling and events should be able to function at the same time.
2. This update should have fixed the polling=0 and events=true case.
3. Having polling and events give different results is concerning.

@dsw9742  Can you post an example of your monitor stack?

[2018-05-31 13:37] thomasjpfan commented on #55
@dsw9742 I am able to reproduce this issue. I will issue a fix soon.

[2018-05-31 14:17] thomasjpfan commented on #55
There is a difference between updating a label and an image. Here is an example with 3 nodes:

1. `docker service update --label-add com.df.world=hello exporters_cadvisor` outputs:

[code]

DFSL functions as expected, since it waits for all 3 instances to come online.

2. `docker service update --image google/cadvisor:v0.27.4 exporters_cadvisor` outputs:

[code]

There is one task that converges.

[2018-05-31 14:45] Munchery-DavidMichon commented on #51
@thomasjpfan Thanks it fixes the issue and it's working properly. There's however an error appearing in the log, and this for every `file_sd_configs`.
[code]

[2018-05-31 15:42] dsw9742 commented on #55
@thomasjpfan thank you for all of the investigating and legwork.

Regarding your last sentence: does this imply the root cause lies within Docker itself (perhaps the previously-identified issues with Docker Events)?

A second thought: if events and polling are both supported now, should polling "correct" the problems that occur with events?

[2018-05-31 16:41] thomasjpfan commented on #55
@dsw9742

1. I think I figured out a fix for this issue with `dockerflow/docker-flow-swarm-listener:18.05.31-21`. Please try this release out and see if it works for you.

2. I added polling to make sure users had an option when the docker events api is misbehaving. I think its important to make sure everything functions with only the docker events api.

3. DFSL only needs to be on the same networ

[2018-05-31 17:16] dsw9742 commented on #55
@thomasjpfan I think this works! I've only conducted a limited test, will follow up after we've performed some deeper ones. Fingers crossed ...

[2018-05-31 19:22] dsw9742 commented on #55
@thomasjpfan this is passing additional tests on our end ... I think we can consider this successfully resolved. Once again, thank you!

[2018-05-31 19:22] #55 closed

[2018-06-16 19:59] #54 closed

[2018-06-30 17:40] vfarcic commented on #49
@maevyn11 Please let me know if you managed to test it with the latest tag and whether we can close this issue.

[2018-07-12 17:14] maevyn11 commented on #49
@vfarcic Sorry for the delay on this. Just had a chance to test this out thoroughly, and it looks like it worked!

With a service at 65% memory limit, I was able to set the memlimit down to .5, see the alert firing, and then set it back up to .85 and see the alert stop firing.

[2018-07-15 11:46] #49 closed

[2018-08-20 03:00] anomaly256 opened #58 "Feature Request: option to pass more labels in remove notify"
<sorry wrong repo>

[2018-08-20 03:34] #58 closed

[2018-08-22 13:17] dorsanyvision opened #59 "update prometheus version"
Please update the version of prometheus in [Dockerfile](https://github.com/docker-flow/docker-flow-monitor/blob/master/Dockerfile) to v2.3.2 or at least something newer.

all versions are here:
https://hub.docker.com/r/prom/prometheus/tags/

[2018-08-22 13:18] vfarcic commented on #59
Can you make a PR?

[2018-08-22 13:25] dorsanyvision commented on #59
sure
PR: https://github.com/docker-flow/docker-flow-monitor/pull/60

[2018-08-23 13:36] #59 closed

[2018-08-29 08:46] dorsanyvision opened #61 "no targets and jobs under scrape_configs appear"
Hi, I have some issues to configure the Docker flow monitor in my swarm cluster. From some reason I don't get any targets in the prometheus.

i'm not sure why the scrape_configs is not exist and why I don't have any jobs or targets under it.

here is some of my swarm docker compose which include the proxy,monitor and exporters:
[code]

example of one app:
[code]

here is the scrape file under /etc

[2018-09-08 09:14] vfarcic commented on #61
Can you take a look @thomasjpfan ?

[2018-09-08 17:29] thomasjpfan commented on #61
@dorsanyvision The DFSL needs to be adjusted a little. The `DF_*` are comma separated list of urls:

[code]

Based on the monitor logs, it seems to me `cdavisor` target is not added. I went through your example and created a small example that works on my system:

[code]

Can you test this out and see if you see the `exporter_cadvisor` in the prometheus targets?

[2018-09-12 13:35] thomasjpfan commented on #61
@dorsanyvision Can you post the DFSL logs as well? I want to make sure that the node-exporter notification was sent to DFM.

[2018-09-12 17:16] dorsanyvision commented on #61
Hi @thomasjpfan , I already attached them above under: docker service logs management_swarm-listener but here are fresh ones:
[code]

here is the docker service ls:
[code]

[2018-09-12 19:47] thomasjpfan commented on #61
Your `node-exporter` configuration assigns **container** labels. The labels need to be **service** labels, by placing them under `deploy`:

[code]

[2018-09-13 13:19] remy-tiitre opened #62 "com.df.metricsPath does not work"
I added - com.df.metricsPath=/actuator/prometheus to my service labels but its still shows up as metrics_path: /metrics in Prometheus config.

[2018-09-13 13:20] remy-tiitre opened #63 "Basic Auth for scape endpoints"
Is there an option to add basic auth username and password or password_file for scrape config?

[2018-09-16 09:32] vfarcic commented on #63
Why do you need authentication for things that are accessed only through internal network and are not accessible outside the cluster?

[2018-09-17 08:39] remy-tiitre commented on #63
Well, sometimes you can't trust the internal network completely either. :) If its on shared resources for example.

[2018-09-17 19:40] maevyn11 opened #64 "@service_mem_limit_nobuff not expanded properly in prometheus alert.rules"
Hey guys, upon discovering that one of our services was alerting on high memory usage due to filling up it's page cache, I tried to change the memory alert definition from com.df.alertIf=@service_mem_limit to com.df.alertIf=@service_mem_limit_nobuff. I changed this label in my stack file and redeployed the stack, but I am still seeing the old alert definition in prometheus.

Upon further investiga

[2018-09-24 18:53] maevyn11 commented on #64
Apologies for this one guys, the problem was that I was running an older version of docker flow monitor. After updating to the latest docker image which had defined the @service_mem_limit_nobuff shortcut and redeploying my service, everything worked fine.

I mistakenly believed we were running the latest version of docker flow monitor because I had checked the releases page here:  [Releases](https

[2018-09-24 18:53] #64 closed

[2018-10-03 10:02] anomaly256 commented on #62
I've noticed this too - oddly though, it did work initially.  After restarting some things it seems to have changed from the /api/metrics specified in the service label back to /metrics causing it to no longer scrape my rabbitmq nodes

[2018-10-03 10:07] anomaly256 commented on #62
side note: forcing a restart of swarm listener has brought it back, maybe the root of the issue is there and not with docker-flow-monitor

[2018-10-20 07:07] #61 closed

[2018-10-25 19:11] hatched-DavidMichon opened #65 "Monitor Nodes outside the swarm cluster"
Hi,

Actually I have 3 swarm clusters, all separated in different VPC on AWS. One of the swarm is for the tools (Prometheus, Grafana, Jenkins, and so on). The 2 others are for production and staging.

Today, it's setup like this: on AWS I first created private hosted zones for my production and staging stack. On those hosted zones I created SRV entries for my exporters (node-exporters, cadvisor, e

[2018-11-04 16:04] #63 closed

[2018-12-02 09:10] vfarcic commented on #65
The thing is that DFM calls DFSL only when it starts. After that, it assumes that DFSL will send it info about new or updated services. I don't think there is an initiative to invert the order.

[2018-12-03 12:57] hatched-DavidMichon commented on #65
Thanks for your response @vfarcic. I don't mean of inverting the order. It's totally fine that DFM call DFSL only when it starts and then DFSL keep DFM updated. What would be beneficial is for DFM to be able to call multiple DFSL source when it starts.

[2018-12-27 18:49] lukicsl opened #66 "samples DevOps2.2 do not work"
I started the samples in chapter.
**Deploying And Configuring Prometheus**
I first tried with my headless ubuntu server. Virtual machines up an running.
The first sample :
`docker stack deploy -c stacks/prometheus.yml monitor`
I was not able to connect to http://$(docker-machine ip swarm-1):9090/config.
Thought is was my proxy config to the headless server, did al sort of ssh port forwarding, etc,

[2018-12-27 20:04] vfarcic commented on #66
The example you're following assumes that you're using `docker-machine` to create a cluster. From what I understood, that's not your case. Can you please confirm?

[2018-12-27 20:07] vfarcic commented on #66
It seems that Overlay network inside your cluster does not work. The fact that it works when changing to `host` is an indication of that. The two errors you posted are also an indication of the same problem.

I'm a bit confused with the headless Ubuntu. Are you using Ubuntu as your laptop's OS (not a VM) and inside it creating a cluster using Docker Machine?

[2018-12-28 08:47] vfarcic commented on #66
Can you run any other application and confirm that it is accessible through a published port?

[2018-12-28 08:49] lukicsl commented on #66
can you make a dirty sample?

[2018-12-28 08:51] vfarcic commented on #66
I am only with my mobile right now. I should be online in a few days and can write it then.

[2018-12-28 10:14] lukicsl commented on #66
[code]
does not work either
`open "http://$(docker-machine ip swarm-1):3000"`

[code]

[code]

[2018-12-28 10:16] lukicsl commented on #66
service ls shows the ports, stack ps not !?

[2018-12-28 12:08] lukicsl commented on #66
I create following test setup:
[code]
test run:
[code]

[2018-12-28 12:31] lukicsl commented on #66
I run the same on my 3-node raspberry cluster and it works!?

it does not work on bot docker-machine setups (MAC and Ubuntu)

[2018-12-28 18:35] lukicsl commented on #66
https://github.com/docker/machine/issues/4608

docker machine iso is the problem

[code]
fixed the problem

[2018-12-28 18:35] #66 closed

[2019-01-08 14:48] militarpancho opened #67 "Shortcuts Compatibility with node-exporter v0.16.0 and recent versions"
Is expected to have compatibility with node-exporter v0.16?. Is only a question, I can use v0.15 and make some changes on my code but it is just in case.

[2019-01-28 08:22] militarpancho commented on #30
Can anyone test if this feature is working properly?

[2019-02-09 20:22] raiderx commented on #62
I faced with the same issue: after restarting DFM ignores metricsPath from DFSL
[code]
I think function getScrapeFromMap at server/server.go (line 292) does not read value from json element "metricsPath".

[2019-02-09 20:23] raiderx opened #68 "Service labels don't work without node info"
Is it correct that Server.go at lines 307 & 669 ignores additional service labels if NodeInfo is null?

I have service external-service-green that I want to monitor. I added additional label "appName", DFSL returns this label to DFM, but DFM ignores it.
[code]
I don't see label appName for target external-service-green:
[code]

[2019-03-21 17:45] hatched-DavidMichon commented on #65
Any update on this request?

[2019-03-22 11:26] vfarcic commented on #65
The project is mostly abandoned. I moved all my work to Kubernetes and it seems that the rest of the contributors moved as well.

[2019-03-22 11:39] hatched-DavidMichon commented on #65
@vfarcic I see, thanks for your response. This project was abandoned because there's another similar project existing somewhere or because you (and contributors to this project) think there's no future for it? Or even more broadly that docker swarm is inferior than Kubernetes and that's the way to go?

I get all your books, fantastic job by the way. We build up our stack on docker swarm back then

[2019-03-22 11:47] vfarcic commented on #65
I believe that Swarm is out of the game and it was very painful for me to abandon it in my professional work. I'd love for Swarm to thrive, but the reality is different. Almost everyone adopted Kubernetes. On top of that, Kubernetes as the project continues receiving huge support (commits) from the community while development of Swarm is almost non-existent. Personally, I do not believe that Swarm

[2019-03-22 11:49] vfarcic commented on #65
As a side note, this project does not have to be abandoned. The fact that I don't use it anymore does not mean that others don't. That's the spirit of open source. Whoever needs something added or fixed can make a pull request. If no one does that, there is not much need for the project.

[2019-03-22 12:12] hatched-DavidMichon commented on #65
I agree with you regarding Kubernetes. I would have liked for docker swarm to thrive but today the reality is other as you said.

And yes I totally understand that this project don't "have" to be abandoned. I was only concerned that most or all of the contributors moved away.

Time for me to learn a bit of Go and implement my feature! Then read your book(s) on Kubernetes and have this painful disc

[2019-08-31 11:08] alex-cloud-bit opened #71 "Jenkins doesn't go on internet"
Hi,
Jenkins jobs fails since they can't resolve any host, while the VirtualBox is correctly connected.
Could you add some configuration in the tutorial or describe here how to have the dockerized Jenkins already configured to go on internet?

I have already tried [this](https://stackoverflow.com/a/17004169/3673430), but it didn't work (I was already logged in)
[code]

[code]
![Screenshot from 2019

[2019-08-31 19:36] vfarcic commented on #71
Normally, that should work and there is probably something (e.g., proxy, VPN, etc.) in your network that blocks resolution of public domains. It's not uncommon that VMs are whitelisted but, since the process is running inside containers, whatever is blocking does not recognize it as being whitelisted. Then again, your problem might be something completely different but, in any case, it is most lik

[2019-08-31 20:01] alex-cloud-bit commented on #71
Hi,
thanks for the answer, but as far as I know I have no proxy or firewall in place.
Everything works fine but the Jenkins settings, could it be done with a vanilla official Jenkins image?

Is there any command I could show you to let you understand the issue?

I have no output from the docker container exec command, could you give some extra detail please?

[code]

[2019-08-31 20:07] vfarcic commented on #71
I'm a bit confused... Is the problem in Jenkins (as in the screenshot) or in Docker Flow Monitor (as in the last message)?

The problem does not seem to be related to Jenkins configuration, but that containers running in your cluster cannot resolve github.com. I'd bet that it's not resolvable not only inside the container that runs Jenkins but any other container inside the cluster. If I'm right,

[2019-08-31 20:21] alex-cloud-bit commented on #71
I'm sorry for the confusion, I'm still understanding the architecture I built up starting from [this tutorial](https://monitor.dockerflow.com/auto-scaling/).

The problem could be also the Docker Flow Monitor since my integration with Slack hook works fine (alert_manager_config) but when I click on the link from the Slack channel i get a 503 on http://192.168.99.102/monitor/alerts : Docker Flow Pr

[2019-09-02 07:34] alex-cloud-bit commented on #71
Hi
I would like to add I tested the connection from inside a curl container and it works without --add-host.
So I think the problem is inside that Jenkins image configuration.
If it's not, how can I add add-host functionality directly inside the swarm yml?

`docker run --rm=True appropriate/curl -I https://github.com`
![image](https://user-images.githubusercontent.com/54740742/64097465-9ca51900-cd

[2019-09-02 11:19] tuxerrante commented on #71
Hi
I'm try to investigate the same issue.
What I'm doing is

- Searching for errors inside those config files
I would point at this two lines in your output:
`proxy_proxy.1.aoeuwxvvxo6p@swarm-2    | [ALERT] 242/095837 (5644) : parsing [/cfg/haproxy.cfg:67] : 'server monitor_monitor' unknown keyword 'http'. Registered keywords :`

`proxy_proxy.1.aoeuwxvvxo6p@swarm-2    | [ALERT] 242/095837 (5644) :

[2019-09-02 13:06] vfarcic commented on #71
@alex-cloud-bit You'll have to change your config to use shared libraries that you can access if public GitHub is unaccessible.

[2019-09-16 08:21] tuxerrante commented on #71
I finally fixed the Jenkins docker connectivity issue.
It seems in the docker-flow-monitor [jenkins-scale.yml](https://github.com/docker-flow/docker-flow-monitor/blob/master/stacks/jenkins-scale.yml) file there was a wrong a definition of the default network, I replaced these lines:
[code]
with
[code]
Also there is a minor fix that should be done in the tutorial: the JSON path for labels actually

[2019-09-20 09:41] vfarcic commented on #71
Can you make a PR with the fixes?

[2019-09-22 07:39] tuxerrante commented on #71
I'll be happy to do it, but I'd prefer to have a code review by you first, to be sure my configuration makes sense for your project too.
Then I'd like to ask you some indications for the right way to open the PR.
Thanks

[2019-09-24 08:40] vfarcic commented on #71
The project does not have any specific (rigid) PR guidelines. Fork the repo, create a branch, make the changes to the code and push them to your branch, create a PR. From there on, I can review and offer suggestions. Don't worry if the PR is not fully finished. The important thing is to create it so that we can discuss the changes.

[2019-09-24 08:42] vfarcic commented on #71
@tuxerrante Before you dive into creating a PR, I must warn you that there's not much movement in the project. Most users moved from Swarm to Kubernetes (including me).

What I'm really trying to say is that this project is looking for adoption; someone who uses Swarm and wants to take care of the project.

[2019-09-24 09:10] tuxerrante commented on #71
I understand it is on a dead end track but I'm ok with becoming its
godfather, it's a good opportunity to deepen my knowledge with docker and
automation.
Maybe I will search for you again when I'll switch to k8s :)

Should I push only the minor fixes or my entire new project based on yours?

Thanks

Il Mar 24 Set 2019, 10:42 Viktor Farcic <notifications@github.com> ha
scritto:

[2019-09-25 11:01] vfarcic commented on #71
Make a PR of whatever you feel more comfortable with and we'll take it from there :)

[2019-10-03 16:13] #71 closed